<div class="flex">
  <div class="size-130 flex-none bg-amber-300 h-full">
    <div class="container bg-gray-50 h-full p-6 max-w-lg">
      <h1 class="text-3xl text-blue-800">Tailwind CSS Sandbox</h1>
      <ul class="mt-6">
        <li class="text-lg border border-blue-200 p-2 my-4">
          <a
            class="text-blue-500 hover:text-blue-300"
            routerLink="/01-utility-first"
            >Utility First Example</a
          >
        </li>
        <li class="text-lg border border-blue-200 p-2 my-4">
          <a class="text-blue-500 hover:text-blue-300" routerLink="02-colors"
            >Colors</a
          >
        </li>
        <li class="text-lg border border-blue-200 p-2 my-4">
          <a
            class="text-blue-500 hover:text-blue-300"
            routerLink="/03-container-spacing"
            >Container & Spacing</a
          >
        </li>
        <li class="text-lg border border-blue-200 p-2 my-4">
          <a
            class="text-blue-500 hover:text-blue-300"
            routerLink="/04-typography"
            >Typography</a
          >
        </li>
        <li class="text-lg border border-blue-200 p-2 my-4">
          <a class="text-blue-500 hover:text-blue-300" routerLink="/05-sizing"
            >Sizing</a
          >
        </li>
        <li class="text-lg border border-blue-200 p-2 my-4">
          <a
            class="text-blue-500 hover:text-blue-300"
            routerLink="/06-layout-position"
            >Layout & Position</a
          >
        </li>
        <li class="text-lg border border-blue-200 p-2 my-4">
          <a
            class="text-blue-500 hover:text-blue-300"
            routerLink="/07-backgrounds-shadows"
            >Backgrounds & Shadows</a
          >
        </li>
        <li class="text-lg border border-blue-200 p-2 my-4">
          <a class="text-blue-500 hover:text-blue-300" routerLink="/08-borders"
            >Borders & Border Radius</a
          >
        </li>
        <li class="text-lg border border-blue-200 p-2 my-4">
          <a class="text-blue-500 hover:text-blue-300" routerLink="/09-filters"
            >Filters</a
          >
        </li>
        <li class="text-lg border border-blue-200 p-2 my-4">
          <a
            class="text-blue-500 hover:text-blue-300"
            routerLink="/10-interactivity"
            >Interactivity</a
          >
        </li>
        <li class="text-lg border border-blue-200 p-2 my-4">
          <a
            class="text-blue-500 hover:text-blue-300"
            routerLink="/11-breakpoints"
            >Breakpoints</a
          >
        </li>
        <li class="text-lg border border-blue-200 p-2 my-4">
          <a class="text-blue-500 hover:text-blue-300" routerLink="/12-columns"
            >Column Layouts</a
          >
        </li>
        <li class="text-lg border border-blue-200 p-2 my-4">
          <a class="text-blue-500 hover:text-blue-300" routerLink="/13-flex"
            >Flexbox</a
          >
        </li>
        <li class="text-lg border border-blue-200 p-2 my-4">
          <a class="text-blue-500 hover:text-blue-300" routerLink="/14-grid"
            >Grid</a
          >
        </li>
        <li class="text-lg border border-blue-200 p-2 my-4">
          <a
            class="text-blue-500 hover:text-blue-300"
            routerLink="/15-transform-transition"
            >Transform & Transitions</a
          >
        </li>
        <li class="text-lg border border-blue-200 p-2 my-4">
          <a
            class="text-blue-500 hover:text-blue-300"
            routerLink="/16-animation"
            >Animation</a
          >
        </li>
        <li class="text-lg border border-blue-200 p-2 my-4">
          <a
            class="text-blue-500 hover:text-blue-300"
            routerLink="/17-customization"
            >Customization & Config</a
          >
        </li>
        <li class="text-lg border border-blue-200 p-2 my-4">
          <a
            class="text-blue-500 hover:text-blue-300"
            routerLink="/18-dark-mode"
            >Dark Mode</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="size-100 grow bg-white h-full">
    <router-outlet></router-outlet>
  </div>
</div>
